/*
 * Copyright (c) 2026 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

/ {
    behaviors {
        mck: meteorite_custom_key {
            compatible = "zmk,behavior-meteorite-custom-key";
            #binding-cells = <1>;
            display-name = "meteorite custom key";
        };
    };
};
